/*!
* Created By: DanzzCoding | danzzcodingweb.vercel.app
*/
.sticky-footer {
    background-color: #F9F6FD;
    color: #000
}

.sticky-footer a {
    color: #000
}

.scroll-to-top {
    position: fixed;
    right: 1rem;
    bottom: 1rem;
    display: none;
    width: 2.75rem;
    height: 2.75rem;
    text-align: center;
    color: #fff;
    background: rgba(90, 92, 105, .5);
    line-height: 46px;
    transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out
}

.scroll-to-top:focus,
.scroll-to-top:hover {
    color: #fff;
    transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out
}

.scroll-to-top:hover {
    background: #5a5c69;
    transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out
}

.scroll-to-top i {
    font-weight: 800
}